
body{
	height:100%;
}

html{
	height:100%;
}

.top{
	background-color: #d32e18;
	padding-top:10px;
	height:80px;
	max-height:130px;
}

.left-align{
	float:left;
}

.right-align{
	float:right;
}


.left-menu{
	display:block;
	float:left;
	height:100%;
	background-color:#d32e18;
}

.left-menu-item{
	display:block;
	padding:10px;
	border-width:thin;
	border-color:#ccc;
	border-style:solid;
	border-radius:0px;
	text-align:center;
	font-size:18px;
	background-color:#d32e18;
	color:white;
}

.left-menu-drop{
	background-color:#d32e18;
	font-size:18px;
	color:white;
}

.icon{
	height:80px;
	width:80px;
}

.util{
	height:50px;
}

.slide{
	height:60%;
	width:60%;
	margin-top:15px;
}

.block-inline{
	display:inline-block;
}

.body{
	position:absolute;
	top:80px;
	bottom:0px;
}

.card{
	margin:10px;
	display:inline-block;
}

.roundbutton{
	border-radius: 20px;
	border-style:solid;
	width: 35px;
	text-align:center;
	background-color:#d32e18;
	font-weight:600;
	font-size:18pt;
	padding:0px;
}

.button1{
	text-align:center;
	background-color:#d32e18;
	font-weight:600;
	font-size:18pt;
	padding:0px;
}

h1{
	text-align:center;
	margin-bottom:20px;
}

.count-bludo{
	width:30px;
	text-align:center;
}

.greenbutton{
	background-color:green;
	color:white;
	font-weight:550;
}

.margin10{
	margin:10px;
}